 .confirm_dialog.ant-modal {
     top: calc(50% - 15vh);
    //  transform: translateY(-50%);
    //  transform-origin: center !important

 }

 .confirm_dialog .ant-modal-content {
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgb(0, 0, 0, 0.5) !important;
     height: 30vh;
     backdrop-filter: blur(9px);
     border-radius: 8px;
 }

 .ant-modal-wrap:has(.confirm_dialog) {
     background: rgb(255, 255, 255, 0.05);
     backdrop-filter: blur(9px);
 }
 
 .ant-modal-root .ant-modal-wrap{
    z-index: 2000;
 }

 