.modalFullScreen {
  top: 0px;
  width: 100% !important;
  max-width: 100%;
  margin: 0px !important;
  height: 100%;
  padding: 0px;

  .ant-modal-content {
    height: 100%;
    padding: 0px;
    background: transparent;
    border-radius: 0 !important;

    .ant-modal-body {
      height: 100%;
    }
  }

  .ant-modal-close {
    color: whitesmoke;
  }
}

// SWIPER 
.mySwiper {
  height: 40% !important;
  width: 100%;

  .swiper-slide {
    background: transparent;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

}

.mySwiper2.fullscreen-gallery-view{
  height: 100% !important;
  box-sizing: border-box;
  padding: 10px 0;
  width: 100%;

  .swiper-slide {
    background: transparent;

    img {
      display: block;
      height: 100%;
      object-fit: contain;
    }
  }
  .swiper-pagination{
     
  }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}