.ant-btn {
  &.border-1 {
    border: 1px;
  }

  &:hover {
    color: #72FFFF
  }

  background-color: #18191A;
  color: white;

  &:not(.border-1) {
    border: none;
  }

  padding:6px 9px;
  box-shadow: 2px 2px 8px 0px #000000,
  -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
}

.gradient_btn {
  border-radius: 8px;
  background: linear-gradient(180deg, #00D4FC 0%, #1955B6 100%);
  box-shadow: 2px 2px 8px 0px #001940, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
}

.inverted_btn {
  padding:6px 15px ;
  box-shadow: 2px 2px 2px 0px rgba(0, 7, 19, 0.5) inset, -2px -2px 2px 0px rgba(60, 173, 255, 0.25) inset
}