.ant-input {
    border-radius: 8px;
    border: none;
    background: #151B23;
    letter-spacing: 0.025em;
    color: white;
    box-shadow: 2px 2px 4px 0px #001940, -2px -2px 4px 0px rgba(60, 173, 255, 0.50);

    &:focus {
        /* neumorphic blue */
        box-shadow: 2px 2px 16px 0px #001940, -2px -2px 16px 0px rgba(60, 173, 255, 0.50);

    }

    &::placeholder {
        
        color: rgba(255, 255, 255, 0.6);
    }

    &-affix-wrapper {
        color: white;
        border-radius: 8px;
        border: none;
        background: #151B23;
        /* neumorphic blue */
        box-shadow: 2px 2px 8px 0px #001940, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);

        .ant-input {
            color: white;
            box-shadow: none
        }
    }

    &-password-icon {
        color: white !important;
        opacity: 0.5
    }
}

.ant-input.ant-input-borderless {
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0px;
}