.ant-radio-group {
    box-shadow: 2px 2px 8px 0px #001940, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
    background-color: #1E2530;
    padding: 10px;
    border-radius: 8px;
}

.ant-radio-button-wrapper { 
    display: flex;
    height: auto;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);

    span{
        width: max-content;
    }
    &-checked {
        font-weight: bold;
        border-radius: 8px;
        background: #0096FF;
        box-shadow: 4px 4px 8px 0px rgba(0, 47, 81, 0.80) inset, -4px -4px 8px 0px rgba(125, 229, 255, 0.40) inset;

        &:not(.ant-radio-button-wrapper-disabled):hover::before {
            background: transparent;
        }
    }

    &:first-child {
        border: none;

        &::before {
            background: transparent;
        }
    }

    &:not(:first-child) {
        margin-left: 10px;

        &::before {
            background: transparent;
        }
    }
}