.ant-select {
    box-shadow: 2px 2px 4px 0px #001940, -2px -2px 4px 0px rgba(60, 173, 255, 0.50);
    border-radius: 8px;
    background: #151b23;

    .ant-select-selector {
        border: none !important;
        padding: 0px !important;
        background-color: inherit !important;

        &::after {
            color: white !important;
        }
    }

    .ant-select-selection {
        &-item {
            color: white;
        }

        &-search-input {
            color: white !important
        }
    }

    .ant-select-selection-placeholder {
        width: 100%;
        display: flex;
        color: rgba(255, 255, 255, 0.6);
    }

    .ant-select-clear {
        background: transparent;

        .anticon {
            color: rgb(255, 255, 255, 0.4);
        }
    }

}

.ant-select-single.ant-select-open {
    box-shadow: 2px 2px 16px 0px #001940, -2px -2px 16px 0px rgba(60, 173, 255, 0.50);

    .ant-select-selection-item {
        color: white;

    }
}

// .ant-select-dropdown {
//     z-index: 3000;
//     background-color: #1e2530;

//     .ant-empty-description {
//         color: white;

//     }
// }

.ant-select-item-option-content {
    color: white;
}

.ant-select-item-option-selected {
    background: rgb(11, 18, 28);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.08) 100%) !important;
}

.ant-select.ant-select-borderless {
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0px;
}

 

.ant-select-dropdown {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
    padding: 0px;

    .ant-empty-description {
        color: white;

    }

    .ant-select-item-option {
        padding: 9px;

        &-active {
            border-radius: 0px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.08) 100%);
        }
    }
}