.ant-select
 {
    box-shadow: 2px 2px 4px 0px #001940, -2px -2px 4px 0px rgba(60, 173, 255, 0.50);
        border-radius: 8px;

    .ant-select-selector {
        border: none !important;
        background: #1E2530 !important;

        &::after {
            color: white !important;
        }
    }

    .ant-select-selection-item {
        color: white;

    }

    .ant-select-selection-placeholder {
        display: flex;
        justify-content: center;
        color: rgba(255, 255, 255, 0.6);
    }


}
.ant-select-single.ant-select-open{
    box-shadow: 2px 2px 16px 0px #001940, -2px -2px 16px 0px rgba(60, 173, 255, 0.50);
    
    .ant-select-selection-item {
        color: white;

    }
}
.ant-select-dropdown {
    background-color: #1e2530;
}

.ant-select-item-option-content {
    color: white;
}

.ant-select-item-option-selected {
    background-color: #2b3442 !important;
}

.ant-select.ant-select-borderless {
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0px;
}