#comment {
  position: relative;
  z-index: 2;
  /* neumorphic blue */
  box-shadow: 2px 2px 8px 0px #000000, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
}

#comment-caret {
  position: relative;
  z-index: 3;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-top: solid 20px #1e2530;
  height: 0;
  width: 0;
  margin-left: 30px;
  margin-top: -10px;

  &-shadow {
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    border-top: solid 20px #1e2530;
    height: 0;
    width: 0;
    margin-left: 30px;
    margin-top: -23px;
    position: relative;
    z-index: 1;
    filter: drop-shadow(-5px 0px 5px rgba(60, 173, 255, 0.50));
  }
}



.menu-btn:hover {
  position: relative;
  box-sizing: border-box;
  border-radius: 7.3px !important;
  padding: 8px 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.02) 100%);

  &-bg:hover {
    content: '';
    z-index: 1;
    border-radius: 8px;
    background: linear-gradient(100deg, #2f353f93 61%, rgba(255, 255, 255, 0.15) 120%),
      linear-gradient(120deg, #7fa1d3ad 3%, rgba(255, 255, 255, 0) 20%);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
  }
}

.shadow {
  box-shadow: none;
  width: 457px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 457px;
  opacity: 0.6;
  background: radial-gradient(35.48% 49.7% at 50.3% 51.28%, #040A15 0%, rgba(3, 13, 33, 0.00) 100%);
}

.shadow-lg {
  box-shadow: none;
  width: 727px;
  height: 95px;
  flex-shrink: 0;
  border-radius: 727px;
  opacity: 0.6;
  background: radial-gradient(35.48% 49.7% at 50.3% 51.28%, #040A15 0%, rgba(3, 13, 33, 0.00) 100%);
}



.instruction_index {
  margin-right: 8px;
  color: #1E2530;
  /* neumorphic blue */
  text-shadow: 2px 2px 8px #000000, -2px -2px 8px rgba(60, 173, 255, 0.50);
  font-size: 92px;
  font-weight: 900;
}

.large_star {
  color: #0096FF;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}

.medium_star {
  color: #0096FF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}

.small_star {
  color: #0096FF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.gradient_btn {
  border-radius: 8px;
  background: linear-gradient(180deg, #00D4FC 0%, #1955B6 100%);
  box-shadow: 2px 2px 8px 0px #001940, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
}

.gradient-text {
  background: linear-gradient(141deg, #0062FF -12.07%, #1D8AFF 17.88%, #41BCFF 60.43%, #5CE0FF 96.68%, #6CF6FF 126.63%, #72FFFF 145.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}