.shadow {
  box-shadow: none;
  width: 457px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 457px;
  opacity: 0.6;
  background: radial-gradient(35.48% 49.7% at 50.3% 51.28%, #040A15 0%, rgba(3, 13, 33, 0.00) 100%);
}

.shadow-lg {
  box-shadow: none;
  width: 727px;
  height: 95px;
  flex-shrink: 0;
  border-radius: 727px;
  opacity: 0.6;
  background: radial-gradient(35.48% 49.7% at 50.3% 51.28%, #040A15 0%, rgba(3, 13, 33, 0.00) 100%);
}



.instruction_index {
  margin-right: 8px;
  color: #1E2530;
  /* neumorphic blue */
  text-shadow: 2px 2px 8px #000000, -2px -2px 8px rgba(60, 173, 255, 0.50);
  font-size: 92px;
  font-weight: 900;
}

.large_star {
  color: #0096FF;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}

.medium_star {
  color: #0096FF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}

.small_star {
  color: #0096FF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.gradient_btn {
  border-radius: 8px;
  background: linear-gradient(180deg, #00D4FC 0%, #1955B6 100%);
  box-shadow: 2px 2px 8px 0px #001940, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
}

.gradient-text {
  background: linear-gradient(141deg, #0062FF -12.07%, #1D8AFF 17.88%, #41BCFF 60.43%, #5CE0FF 96.68%, #6CF6FF 126.63%, #72FFFF 145.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}