@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  height: 0px;
  width: 4px;
  border: 1px solid #d5d5d5;
  border-radus: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}


.ant-btn {
  border: none;
  box-shadow: 2px 2px 8px 0px #001940, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
}

.ant-radio-group {
  box-shadow: 2px 2px 8px 0px #001940, -2px -2px 8px 0px rgba(60, 173, 255, 0.50);
  background-color: #1E2530;
  padding: 10px;
  border-radius: 8px;
}

.ant-radio-button-wrapper {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);

  &-checked {
    font-weight: bold;
    border-radius: 8px;
    background: #0096FF;
    box-shadow: 4px 4px 8px 0px rgba(0, 47, 81, 0.80) inset, -4px -4px 8px 0px rgba(125, 229, 255, 0.40) inset;

    &:not(.ant-radio-button-wrapper-disabled):hover::before {
      background: transparent;
    }
  }

  &:first-child {
    border: none;

    &::before {
      background: transparent;
    }
  }

  &:not(:first-child) {
    margin-left: 10px;

    &::before {
      background: transparent;
    }
  }
}