.menu-bg-activated {
  border-radius: 3px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.08) 100%);
}

.login-form-bg {
  border-radius: 16px;
  border: 1px solid rgba(19, 99, 223, 0.60);
  background: rgba(255, 255, 255, 0.20);
}