.menu-bg-activated{
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.08) 100%);
  }

  .shadow-login-logo {
    box-shadow: none;
    width: 120%;
height: 40px;
flex-shrink: 0;
    border-radius: 610px;
    opacity: 0.6;
    background: radial-gradient(35.48% 49.7% at 50.3% 51.28%, #040A15 0%, rgba(3, 13, 33, 0.00) 100%);
  }