
.download-qr-border {
    position: absolute;
    border-radius: 12px;
    background: linear-gradient(130deg, #1a638b 3%, rgba(255, 255, 255, 0) 10%),
        linear-gradient(310deg, #707378 2%, #181d25 10%);
    ;
    height: 97%;
    width: 95.5%;
}